@charset "utf-8";
a.L_button {
	color: #294983;
	height:21px;
	float: left;
	font: normal 11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	background: transparent url(../images/layout/button4.gif) no-repeat scroll right top;
	display: block;
	padding-right: 2px; _padding-right: 2px;
	margin-right:2px; _margin-right:2px;
	text-decoration: none;
}

a.L_button span {
	background: transparent url(../images/layout/button3.gif) no-repeat;
	display: block;
	line-height: 11px;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 0px;
	padding-bottom: 5px;
}

a.L_button:hover {
	background-position: right -21px;
}

a.L_button:hover span {
	background-position: left -21px;
	color: #FFFFFF;
}

a.L_button:active {
	background-position: right -21px;
}

a.L_button:active span {
	background-position: left -21px;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 0px;
	padding-bottom: 5px;
}

a.R_button {
	float: right;
	height:21px;
	color: #294983;
	font: normal 11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	background: transparent url(../images/layout/button4.gif) no-repeat scroll right top;
	display: block;
	padding-right: 4px; _padding-right: 4px;
	margin-right:4px; _margin-right:4px;
	text-decoration: none;
}

a.R_button span {
	background: transparent url(../images/layout/button3.gif) no-repeat;
	display: block;
	padding: 5px 1px 5px 5px;
	line-height: 11px;
}

a.R_button:hover {
	background-position: right -25px;
}

a.R_button:hover span {
	background-position: left -25px;
	color: #FFFFFF;
}

a.R_button:active {
	background-position: right -25px;
}

a.R_button:active span {
	background-position: left -25px;
	padding: 5px 1px 5px 5px;
}

a.button {
	color: #ffffff;
	height:18px;
	display: block;
	float: right;
	font-weight:normal;
	font-size:11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 0px;
	margin-right:2px;
	margin-top: 5px;
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button5.gif);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
}

a.button:hover {
	background-position: right -25px;
	color: #ffffff;
}

a.button:hover span {
	background-position: left -25px;
}

a.button:active {
	background-position: right -25px;
}

a.button:active span {
	background-position: left -25px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 5px;	
}

a.logout_button {
	color: #ffffff;
	display: block;
	float: right;
	height:20px;
	padding-right: 6px;
	font: normal 11px sans-serif;
	font-family: Tahoma, Arial,新細明體, 細明體;
	margin-right:2px;
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button2.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

a.logout_button span {
	background: transparent url(../images/layout/button1.gif) no-repeat;
	display: block;
	line-height: 11px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 6px;
	padding-left: 15px;
}

a.logout_button:hover {
	background-position: right -20px;
	color: #ffffff;
}

a.logout_button:hover span {
	background-position: left -20px;
}

a.logout_button:active {
	background-position: right -20px;
}

a.logout_button:active span {
	background-position: left -20px;
	padding: 3px 3px 6px 15px;
}

a.button_ref span{
	color: #ffffff;
	font-weight:normal;
	font-size:11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	display: block;
	float: right;
	height:18px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-right:2px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button5.gif);
	background-repeat: no-repeat;
	background-position: right top;
	text-decoration: none;
	cursor: pointer;
}

a.button_ref:hover {
	background-position: right -25px;
	color: #ffffff;
}

a.button_ref:hover span {
	background-position: left -25px;
}

a.button_ref:active {
	background-position: right -25px;
}

a.button_ref:active span {
	background-position: left -25px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 5px;	
}

a.buttons {
	height:16px;
	color: #3e3d3d!important;
	text-decoration: none;
	font-weight:normal;
	font-size: 11px;
	background-image: url(../images/layout/button4.gif);
	background-position: right -40px;
	background-repeat:no-repeat;
	padding-right: 6px;
	display:inline-block;
	margin-left:3px;
	text-align:left;
}

a.buttons span {
	height:16px;
	background-image: url(../images/layout/button3.gif);
	background-position: left -40px;
	padding-top:0px;
	padding-left: 6px;
	display:inline-block;
	cursor: pointer;
	line-height: 16px;
	white-space: nowrap;
}

a.buttons:hover {
	background-position: right -56px;
	color: #FFFFFF!important;
	text-decoration:none;
}

a.buttons:hover span {
	background-position: left -56px;
}
	
/* for chrome end*/
a.button_live {
	color: #484646;
	display: block;
	float: right;
	height:18px;
	text-decoration: none;
	font-weight:normal;
	font-size:11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	padding-right: 5px;
	margin-top: 5px;
	margin-right:2px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button6.gif);
	background-repeat: no-repeat;
	background-position: right -25px;
	cursor: pointer;
}

a.button_live span {
	height:18px;
	background: transparent url(../images/layout/button5.gif) no-repeat;
	background-position: left -25px;
	display: block;
	padding-top: 2px;
	padding-right: 3px;
	padding-left: 10px;
	margin-bottom: 3px;
}

a.button_live:hover {
	background-position: right top;
	color: #FFFFFF;
}

a.button_live:hover span {
	background-position: left top;
}

a.button_live:active {
	background-position: right top;
}

a.button_live:active span {
	background-position: left top;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 10px;	
}

.logout_bt {
	color: #333333;
	font-size: 11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	text-indent: 8px;
	text-transform: uppercase;
	float: right;
	background-image: url(../images/layout/logout.gif);
	background-repeat: no-repeat;
	border: 1px solid #666666;
}

.help_bt {
	color: #333333;
	height:12px;
	width: 100px;
	text-align: center;
	font-size: 11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	float: right;
	background-color: #999999;
	background-image: url(../images/layout/livehelp.gif);
	border: 1px solid #506b98;
	padding: 2px 0px 2px 0px;
	margin-left: 3px;
}

a.but_more {
	color: #5a1c07;
	height:18px;
	float: right;
	display: block;
	padding-right: 6px;
	font: normal 11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	margin-right:2px;
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button8.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

a.but_more span {
	background: transparent url(../images/layout/button7.gif) no-repeat;
	display: block;
	line-height: 11px;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
}

a.but_more:hover {
	background-position: right -20px;
	color: #ffffff;
}

a.but_more:hover span {
	background-position: left -20px;
}

a.but_more:active {
	background-position: right -20px;
}

a.but_more:active span {
	background-position: left -20px;
	padding: 3px 3px 3px 6px;
}

a.navL {
	color: #666666;
	display: block;
	float: right;
	height:17px;
	font: normal 11px sans-serif;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	text-decoration: none;
	font-weight: bold;
	background-image: url(../images/layout/button1.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 15px;
}

a.navL:hover {
	background-position: left top;
	color: #ffffff;
}

a.navL:active {
	background-position: left -20px;
}

a.navR span {
	color: #666666;
	display: block;
	float: right;
	height:17px;
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Arial,新細明體, 細明體;
	margin-right: 2px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 2px;
	text-decoration: none;
	background-image: url(../images/layout/button2.gif);
	background-repeat: no-repeat;
	background-position: right -20px;
}
a.navR span:hover {
	background-position: right top;
	color: #ffffff;
}
a.navR span:active {
	background-position: right -20px;
}
.nav02 span {
	color: #869dbf;
	font-weight: bold;
	background-position: left -20px;
	display: block;
	line-height: 11px;
	padding-top: 3px;
	padding-bottom: 6px;
}

/*new*/
a.buttonlist {
	color: #b7c9e9;
	display: block;
	float: right;
	height:18px;
	text-decoration: none;
	font-weight:normal;
	font-size:11px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button16.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 5px;
	margin-top:3px;
	margin-right:2px;
	cursor: pointer;
}

a.buttonlist span {
	height:18px;
	background: transparent url(../images/layout/button15.gif) no-repeat;
	display: block;
	padding-top: 2px;
	padding-right: 3px;
	padding-left: 10px;
	margin-bottom: 7px;
}

a.buttonlist:hover {
	color: #ffffff;
}

/*-----------20110218 topmenu button-------------*/			
a.topmenu_btn {
	height:20px;
	color: #484646;
	display: block;
	float: right;
	font: normal 11px sans-serif;
	font-family: Tahoma, Arial,新細明體, 細明體;
	padding-right: 6px;
	margin-right:2px;
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button2.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

a.topmenu_btn span {
	background: transparent url(../images/layout/button1.gif) no-repeat;
	display: block;
	line-height: 11px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 6px;
	padding-left: 10px;
}

a.topmenu_btn:hover {
	background-position: right -20px;
	color: #333333;
}

a.topmenu_btn:hover span {
	background-position: left -20px;
}

a.topmenu_btn:active {
	background-position: right -20px;
}

a.topmenu_btn:active span {
	background-position: left -20px;
	padding: 3px 3px 6px 10px;
}

/**top menu**/
.odd_manu {
	color: #ffffff;
	height:20px;
	/*width: 245px;*/
	float: right;
	font-size: 11px; 
	font-weight: normal!important;
	padding-top: 1px; margin-top:3px; margin-right:5px;
	float:right;
}

.Lbutton a{
	color: #484646;
	font-size: 11px;
	height:20px;
	display: block;
	float: left;
	background-image: url(../images/layout/button4.gif);
	background-position: right 0px;
	background-repeat:no-repeat;
	padding:0px 5px 0px 3px;
}

.Lbutton a span{
	height:20px;
	display: block;
	line-height: 18px;
	background-image: url(../images/layout/button3.gif);
	background-position: left 0px;
	background-repeat:no-repeat;
	padding:0px 0px 0px 5px;
	cursor: pointer;
}

.Lbutton a:hover {
	background-image: url(../images/layout/button4.gif);
	background-position: right -20px;
} 

.Lbutton a:hover span {
	color: #FFFFFF;
	background-image: url(../images/layout/button3.gif);
	background-position: left -20px;
}

a.nav01 {
	color: #854430;
	float: right;
	height:20px;
	display: block;
	font: normal 11px sans-serif;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	padding-right: 6px;
	margin-right:2px;
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/layout/button10.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

a.nav01 span {
	background: transparent url(../images/layout/button9.gif) no-repeat;
	display: block;
	line-height: 12px;
	padding:4px 3px 0px 15px !important;
}

a.nav01:hover {
	background-position: right -20px;
	color: #ffffff;
}

a.nav01:hover span {
	background-position: left -20px;
}

a.nav01:active {
	background-position: right -20px;
}

a.nav01:active span {
	background-position: left -20px;
	padding: 3px 3px 6px 15px;
}
/*refresh buttons*/
#btnRefresh_L .iconRefresh, #btnRefresh_D .iconRefresh, a[name="btnRefresh_L"] .iconRefresh, a[name="btnRefresh_D"] .iconRefresh, a[name="btnRefresh"] .iconRefresh {
	background-image:url(../images/layout/icon_refresh.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:14px;
	height:15px;
	/*float: left;*/
	margin-top:1px;
	margin-left:-5px;
	margin-right:-5px;
}
#btnRefresh_D span, #btnRefresh_L span {
	width:26px;
	text-align: center;
}
#btnRefresh_D .iconRefresh, #btnRefresh_L .iconRefresh {
	margin-left:0px;
	margin-right:0px;
	display: inline-block;
	*zoom: 1;
	*display:inline;
	vertical-align: bottom;
}
#btnRefresh_D .iconRefresh.wait, #btnRefresh_L .iconRefresh.wait {
	margin-left:2px;
}
a[name="btnRefresh_L"] .iconRefresh, #btnRefresh_L .iconRefresh {
	background-position:left -20px;
	background-color: transparent;
}
a[name="btnRefresh_L"]:hover .iconRefresh, a[name="btnRefresh_D"]:hover .iconRefresh, #btnRefresh_L:hover .iconRefresh, #btnRefresh_D:hover .iconRefresh, a[name="btnRefresh"]:hover .iconRefresh {
	background-position:left -40px;
}
a[name="btnRefresh_L"] .iconRefresh.wait, #btnRefresh_L .iconRefresh.wait {
	background-image:url(../images/layout/icon_refreshWait_live.gif);
	background-position:left top;
	background-color: transparent;
}
a[name="btnRefresh_D"] .iconRefresh.wait, #btnRefresh_D .iconRefresh.wait, a[name="btnRefresh"] .iconRefresh.wait {
	background-image:url(../images/layout/icon_refreshWait.gif);
	background-position:left top;
}
a[name="btnRefresh_L"]:hover .iconRefresh.wait, a[name="btnRefresh_D"]:hover .iconRefresh.wait, #btnRefresh_L:hover .iconRefresh.wait, #btnRefresh_D:hover .iconRefresh.wait, a[name="btnRefresh"]:hover .iconRefresh.wait {
	background-image:url(../images/layout/icon_refreshWait_hover.gif);
	background-position:left top;
}