@charset "utf-8";
.HalfTime{
	color: #0000FF;
	font-size: 9px;
	font-weight: bold;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.IsLive{
	color: #FF0000;
	font-size: 9px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	padding: 2px;
}

.LiveTime{
	color: #EB6307;
	font-size: 9px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.text_time{
	color: #666666;
	font-size: 10px;
	text-align:center;
}

.text_time a{
	color: #545454;
	font-size: 10px;
	text-align: center;
}

.text_timeR{
	color: #FF0000;
	font-size: 11px;
	text-align: center;
}

.BetprocessMinBet{
	color: #003399;
	height: 20px;
	font-size: 11px;
}

.BetprocessMaxBet{
	color: #0d609e;
	height: 20px;
	font-size: 11px;
}

.OddsDiv{
	text-align: right!important;
	white-space: nowrap;
}

.poptitle{
	color: #666666;
	font-size: 11px!important;
	font-weight: bold;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	height: 20px;
}
.Second{background-color: #909090!important; font-weight: bold!important;color: #FFFFFF!important;}
.poptitle td{
	background-color: #b4b4b4;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dbdada;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #dbdada;
	border-bottom-color: #dbdada;
	font-size: 11px;
	padding-top:2px;
}

.poptitle th{
	background-color: #b4b4b4!important;
	border-top-width: 1px!important;
	border-top-style: solid!important;
	border-top-color: #dbdada;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #dbdada;
	border-bottom-color: #dbdada;
}

.popodds, .popodds_live {
	color: #666666;
	font-size: 11px!important;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	
	*padding:2px 6px;	
}
.popodds{background-color: #FFFFFF;}
.popodds th, .popodds_live th{
	height: 20px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbdada;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dbdada;
}

.popodds td{
	height: 25px;
	font-weight: normal;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
}

.popodds a, .popodds_live a{
	color: #666666!important;
	font-size: 11px!important;
	font-weight: normal;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.ValueClass, .ValueClass a{
	color: #878787;
	font-size: 10px !important;
	font-weight: bold;
}

.ValueClass span{
	color: #1961ab;
	font-size: 11px !important;
} 

.OUGoalClass, .OUGoalClass a{
	color: #878787;
	font-weight: bold;
	font-size: 11px !important;
}

.OUGoalClass span{
	color: #878787;
	font-weight: bold;
	font-size: 11px !important;
} 

.FavOddsClass, .FavOddsClass a, a.FavOddsClass{
	color: #EB6307!important;
	font-weight: bold;
}

.FavOddsClass span{
	color: #EB6307;
	font-weight: bold;
}

.FavTeamClass, .FavTeamClass a{
	color: #eb6307;
	font-size: 11px !important;
}

.FavTeamClass span{
	color: #cc0000;
	font-weight: bold;
}

.UdrDogOddsClass, .UdrDogOddsClass a, a.UdrDogOddsClass{
	color: #666666!important;
	font-weight: bold;
}

.UdrDogOddsClass span{
	color: #666666;
	font-weight: bold;
	}
	
.UdrDogTeamClass, .UdrDogTeamClass a{
	color: #666666;
}

.UdrDogTeamClass span{
	color: #666666;
	font-weight: bold;
}

.HdpGoalClass, .HdpGoalClass a{
	color: #878787;
	font-size: 11px !important;
	font-weight:bold;
}

.HdpGoalClass span{
	color: #EB6307;
	font-size: 10px !important;
	font-weight: bolder;
} 

.FavOddsClassBetProcess, .FavOddsClassBetProcess a{
	color: #cc0000;
	font-size: 15px;
	font-weight: bold;
}

.FavOddsClaFssBetProcess span{
	color: #cc0000;
	font-size: 15px;
	font-weight: bold;
}

.FavTeamClassBetProcess, .FavTeamClassBetProcess a{
	color: #cc0000;
	font-size: 15px;
	font-weight: bold;
}

.FavTeamClassBetProcess span{
	color: #cc0000;
	font-size: 15px;
	font-weight: bold;
}

.UdrDogOddsClassBetProcess, .UdrDogOddsClassBetProcess a{
	color: #0b5daf;
	font-size: 15px;
	font-weight: bold;
}

.UdrDogOddsClassBetProcess span{
	color: #0b5daf;
	font-size: 15px;
	font-weight: bold;
}

.UdrDogTeamClassBetProcess, .UdrDogTeamClassBetProcess a{
	color: #4d4d4d;
	font-size: 15px;
	font-weight: bold;
}

.UdrDogTeamClassBetProcess span{
	color: #0b5daf;
	font-size: 15px;
	font-weight: bold;
}

.ScoreClass {
	font-size: 10px;
	color: #666666;
	font-weight:bold;	
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.styleblack{
	font-size: 12px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	padding-left:10px;
}

/* all icon*/
.tvicon{
	height: 15px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -8px -95px;
}
.tv_gicon{
	height: 15px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -8px -78px;
}
.plusicon{
	height: 15px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -31px -51px;
}
.graphicon{
	height: 15px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -52px -51px;
}
.redcard{
	height: 15px;
	width: 13px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -31px -34px;
}
.L_icon{
	height: 15px;
	width: 13px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -31px -71px;
}
.F_icon{
	height: 15px;
	width: 13px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -53px -71px;
}
.calendar_icon{
	height: 18px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -33px -90px;
}
.arrowR_icon{
	height: 13px;
	width: 13px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -7px -34px;
}
.arrowL_icon{
	height: 13px;
	width: 13px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -7px -45px;
}
.arrowRB_icon{
	height: 20px;
	width: 20px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -10px -123px;
}
.close_icon{
	height: 15px;
	width: 15px;
	background-image: url(../images/layout/all_menu.gif);
	background-position: -10px -147px;
}

.linethrough{
	text-decoration: line-through;
}

/* sport icon*/
.w1{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -20px 0px;
	display: block;
}

.w2{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -40px 0px;
	display: block;
}

.w3{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -60px 0px;
	display: block;
}

.w4{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -80px 0px;
	display: block;
}

.w5{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: 0px -20px;
	display: block;
}

.w6{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -20px -20px;
	display: block;
}

.w7{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -40px -20px;
	display: block;
}

.w8{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -60px -20px;
	display: block;
}

.w9{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -80px -20px;
	display: block;
}

.w10{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: 0px -40px;
	display: block;
}

.w11{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -20px -40px;
	display: block;
}

.w12{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -40px -40px;
	display: block;
}

.w13{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -60px -40px;
	display: block;
}

.w14{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -80px -40px;
	display: block;
}

.w15{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: 0px -60px;
	display: block;
}

.w16{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -20px -60px;
	display: block;
}

.w17{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -40px -60px;
	display: block;
}

.w18{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -60px -60px;
	display: block;
}

.w19{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -80px -60px;
	display: block;
}

.w20{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: 0px -80px;
	display: block;
}

.w21{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -20px -80px;
	display: block;
}

.w22{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -40px -80px;
	display: block;
}

.w23{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -60px -80px;
	display: block;
}

.w24{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: -80px -80px;
	display: block;
}

.w99{
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(../images/login_page/sport_icon.gif);
	background-position: 0px -100px;
	display: block;
}

/*Number Group*/
.numberGroup {
	background-color: #EFEFEF;
}
.numberGroup.inlive {
	background-color: #FFF0E5;
}
.numberGroup .tab_bg {
	border-width:0;
	padding:10px;
}
.numberGroup .tab_bg > table {border-collapse: separate;}
.numberGroup .tab_bg td {border-color: #CCCCCC !important;}
.numberGroup.inlive .tab_bg td {border-color: #E0B795 !important;}
.numberGroup td { text-align:center;}
.numberGroup .trbg td {border-bottom: solid 1px;}
.numberGroup .tabt_L {
	border-left-style: solid;
	border-left-width: 5px !important;
}
.numberGroup .tabt_R {
	border-right-style: solid;
	border-right-width: 5px !important;
}
.numberGroup .tabt_T {
	border-top-style: solid;
	border-top-width: 5px !important;
}
.numberGroup .tabt_B {
	border-bottom-style: solid;
	border-bottom-width: 5px !important;
}
.numberGroup .tabt_unT {
	border-top-width: 0px !important;
}
.numberGroup .tabt_unL {
	border-left-width: 0px !important;
}
.numberGroup .tabt_unR {
	border-right-width: 0px !important;
}
.numberGroup .liveligh, .numberGroup .live, .numberGroup .bgcpelight, .numberGroup .bgcpe {
	border-top-width: 0;
	border-bottom-width: 0;
	border-style: solid;
	border-left-width: 1px;
}
.numberGroup .trbg .liveligh, .numberGroup .trbg .live, .numberGroup .trbg .bgcpelight, .numberGroup .trbg .bgcpe {
	border-top-width: 1px;
	border-left-width: 0;
}
.liveligh.tabt_B, .live.tabt_B, .bgcpelight.tabt_B, .bgcpe.tabt_B {
	border-bottom-width: 1px !important;
}
.numberGroup td.ball {
	background-color:#FFF;
	border-left-width: 0;
	border-right-width: 0;
}
.numberGroup td.ball.even {
	background-color:#F5F5F5;
}
.numberGroup .num {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
	display:inline-block;
	width:30px;
	height:30px;
	line-height:26px;
	background-image:url(../images/layout/numbergroup_ball.png?v=2012082101);
	background-position: 0 0;
	background-repeat:no-repeat;
}
.numberGroup .trbgov .num {
	background-position: 0 -30px;
}
.numberGroup .num.on {
	background-position: 0 -60px;
}
.numberGroup .bgcpelight {
	background-color: #EFEFEF;
}
.numberGroup_Head {
	height: 44px;
	margin: -2px -2px 0px -2px;
	padding-bottom: 5px;
	background-color: #EEEEEE;
	overflow: hidden;zoom:1;
}
.infobar {
	font-size: 11px;
	line-height: 16px;
	color: #000000;
	padding: 5px 0 0 0;
	margin:0;
}
.infobar li {
	display: inline;
	background-repeat: no-repeat;
	padding-left: 10px;
	background-image: url(../../public/images/layout/arr_red.gif);
	margin-left: 10px;
	margin-right: 20px;
	background-position: left center;
}
.Rbox {
	float:right;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #999999;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	margin: 5px 15px 0px 10px;
}
.Rbox a {
	color: #000000;
	text-decoration: none;
}
.Rbox span {
	float:left;
	margin-top:20px;
	margin-top:18px\9;
	margin-left:-110px;
	width:100px;
	text-align:right;
}
.Rbox span img{
	vertical-align: middle;
}
.Lbox {
	float:left;
}
.numberGroup_Head .Rbox {
	width:auto;
}
.numberGroup_Head .Lbox {
	width:auto;
}
.numberGroup_Head .code {
	margin-bottom: 0px;
}
.trbgov {
	background-color: #FFEFA3 !important;
}
.even.trbgov {
	background-color: #F2E390 !important;
}
.tabbox_F .tabbox {
	margin:-2px; /* = ".tabbox" -(border-width*2)*/
	width: auto;
}

