@charset "utf-8";
body {
	width: 792px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	background-repeat: repeat-y;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	background-color: #ffffff;
    -webkit-text-size-adjust: none;
}

.column3 { 
	width: 100%;
	border-collapse:collapse;
}

.column3_75 {
	width: 564px;
	border-collapse:collapse;
}

.Refresh_button {
	width: 770px;
}

.code {
	margin-bottom: -3px;
}

table {
	border-collapse:collapse;
}

table td {
	padding:0px;
}

a {
	text-decoration: none;
}

.select_Line {
	color: #666666;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	background-color: #e8e8e8;
	border: 1px none #e8e8e8;
}
.input {
	color: #666666;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	border: 1px solid #999999!important;
}

/*divaak*/
.line_divL {
	/*width: 40%;*/
	float: left;
	display: inline;
	padding-left: 2px;
}

.line_divR {
	float: right;
	display: inline;
	text-align: right;
	padding-right: 2px;
}

/*Y*/
.noborder-r{
	border-right:0px !important;
}

.Soccer {
	color: #0c5790;
	height: 18px; *height: 19px;
	float: left;
	font-size: 13px;
	font-weight:bold;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	background: url(../images/layout/icon_h1arrow.gif) no-repeat;
	background-position:left -1px;
	text-indent: 5px;
	padding-right: 2px;
	padding-left:20px;
	padding-top:2px;
	margin-top: 1px;
	margin-bottom: 2px;
}

.Soccer1 {
	height: 21px;
	width: 0px;
	float: left;
	background-repeat: no-repeat;
	background-position: -4px 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.Soccer1 span {
	display: none;
}

/*pop windows*/
.pop_border_d {
	border-bottom-width: 110px;
	border-bottom-style: dashed;
	border-bottom-color: #fff;
}

.pop_border_top {
	border-top-width: 110px;
	border-top-style: dashed;
	border-top-color: #fff;
}

.pop_border_div {
	border: 5px solid #FFFFFF!important;
	width: 560px;
	background-color: #fbd650;
}

.pop_border_div input {
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	background-color: #fbd650;
	color: #fbd650;
}

.popwindows th {
	height: 24px;
	/*background-color: #ffffff;
	background-repeat: repeat-x;*/
	padding-top: 3px;
	padding-right: 2px;
	background-position: bottom;
}

/*end*/

.Reslut_Head {
	color: #EB6307;
	height: auto;
	width: 787px;
	float: left;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	background-color: #efefef;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Reslut_Head a:link {
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.Result {
	color: #eb0700;
	font-size: 11px;
	padding-left:5px
} 

.tabtitle {
	color: #666666;
	height: 15px;
	font-size: 11px;
	font-weight: bold;
	background-color: #dfdfdf;
	text-indent: 0px;
	
}

.tabtitle_Result {
	color: #666666;
	left: 20px;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff;
	text-indent:1px;
}

.tabtitle-Left {
	color: #666666;
	height: 15px;
	background-color: #dfdfdf;
	font-size: 11px;
	font-weight: bold;
	text-indent: 50px;
}

table_1px.tabstyle01 {
	color: #666666;
	font-size: 65%;
	border: 1px solid #a3b3d9;
	word-spacing: 0px;
}

.tabstyle01 th {
	color: #666666;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a3b3d9;
	background-image: url(../images/layout/tab_th03.gif); 
	background-repeat: repeat-x;
	text-align: left;
}

.tabstyle01 td {
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tabstyle01 a:link, .tabstyle01 a:visited {
	color: #2B5919;
}

.tabstyle01 a:hover {
	color: #ff6600;
}

.tabstyle02 {
	color: #666666;
	font-size: 11px;
	border: 0px solid #000000;
	padding-left: 5px;
	margin: 0px;
}

.tabstyle02 th {
	color: #666666;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border-right: 1px solid #dbdada;
	border-bottom: 1px solid #dbdada;
}

.tabstyle03 th {
	color: #ffffff;
	font-size: 11px;
	font-weight: normal;
	padding: 2px;
	background-image: url(../images/layout/tab_th03.gif);
	background-repeat: repeat-x;
	background-color: #3257ab !important;
	text-align: center;
	white-space: nowrap;
}

.tabstyle07 {
	color: #666666; 
    font-size: 11px !important;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #cacaca;
	border-right-color: #cacaca;
	border-left-color: #cacaca;
}

.tabstyle07 th{
	font-size: 11px!important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cacaca;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cacaca;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
}

.tabstyle07 td{
	padding: 2px;
	/*	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cacaca;
    border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cacaca;*/
}

th.tabthdwn-bg{
	background-image:none ;
}

/*table line un*/
.tabt_L {
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #cccccc;
}

.tabt_R {
	border-right-width: 3px!important;
	border-right-style: solid!important;
	border-right-color: #cccccc!important;
}

.tabt_L2 {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #cccccc;
}

.tabt_D {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #cccccc;
}

.tabt_unR {
	border-right-style: none;
}

.tabt_unL {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #333333;
}

.tabbox {
	width: 790px;
	clear: both;
	border: 1px solid #e2e2e2;
	background-color: #cccccc;
}

.tabbox_F {
	border: 1px solid #FFFFFF;
}

.tabtitbox span{
	height: 28px;
	background-image: url(../images/layout/titbgbox_a.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
}

.tabtitbox {
	background-image: url(../images/layout/titbgbox_b.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

.tabbox_FB {
	border: 2px solid #FFFFFF;
	background-image: url(../images/layout/boxbg.gif);
	background-repeat: repeat-x;
}

.tabbox_F1 {
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.msgtabbox {
	width: 810px;
	clear: both;
	border: 0px solid #e8e8e8;
	padding: 5px 2px 1px 2px;
	background-color: #e8e8e8;
}

/*[--end--*/

.tabstyle02 td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	padding: 4px 2px;
	line-height:16px \0;*line-height:16px;
}

.bgcpe {
	background-color: #FFFFFF;
}

.bgcpelight {
	background-color: #FFFFFF;
}

.trbgov {
	background-color: #ffefa3;
}

.bgwhite {
	background-color: #FFFFFF;
}

.bgcpepk {
	background-color: #FFCECE;
}

.tableline_1 {
	border-right-style: none;
	border-left-style: none;
}

.live {
	background-color: #FBE3D2;
}

.liveligh, .popwindows th.liveligh {
	background-color: #FADAC3;
}
	
.ch_Point {
	color: #EB6307 !important;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 0px !important;
	line-height: 2ex !important;
}

.en_Point {
	color: #EB6307 !important;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 0px !important;
	line-height: 1ex !important;
}

.tabcontbubig, .tabcontbubig a {
	font-size: 11px;
	color: #0a3480 !important;
	font-weight: bold;
	text-align: center;
}

.tabcontbkbig, .tabcontbkbig a {
	font-size: 11px !important;
	color: #666666!important;
	font-weight: bold;
	text-align: left;
}

.tabcontrdbig, .tabcontrdbig a {
	color: #FF0000 !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.tabstyle04 {
	width: 181px; _width: 182px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7899ce;
	margin-left: 1px; _margin-left: 0px;
}

.tabstyle04 th {
	color: #666666;
	font-size: 10px;
	font-weight: normal;
	background-color: #dfdfdf;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding: 2px;
	margin: 0px;
	text-align: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #7899ce;
}

.tabstyle04 td {
	color: #0066cc;
	font-size: 10px;
	font-weight: normal;
	background-color: #FFFFFF;
	padding: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	text-align: right;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7899ce;
}

.tabstyle05 {
	color: #434343;
	font-size: 11px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #7c88a3;
	border-right-color: #7c88a3;
	border-left-color: #7c88a3;
}

.tabstyle05 th {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7c88a3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7c88a3;
	background-color: #a3b3d9;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tabstyle05 td {
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7c88a3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7c88a3;
}

.tabstyle06 th {
	color: #4c4c4c;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

.tabstyle06 td {
	color: #4c4c4c;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
	padding: 4px;
}

.cont12oe {
	color: #FF6600 !important;
	font-size: 12px !important;
	padding: 4px Opx 4px Opx !important;
}

.td_left {
	display: inline-table;
	float:left;
}

.td_right {
	display: inline;
	float:right;
}

.EarlyMarket_top_bg {
	color: #fef0d6;
	height: 16px;
	width: 100%;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	padding-top: 1px;
	padding-left: 0px;
}

.EarlyMarket_top_bg span {
	background-image:url(../images/layout/arrow_blue.gif) ;
	background-repeat:no-repeat;
	background-position:left 4px;
	padding: 0px 2px 0px 10px;
	margin-left:10px;margin-top:0px;
	font-weight:bold;
}

/*DBetlist*/
.DBetlist {
	font-size: 11px;
	height: 20px;
}
.DBetlist.UnderLine {/*added 2012 Jul. 10*/
	border-bottom: 1px solid #cccccc;
}
.DBetlist1 {
	font-size: 11px;
	height: 20px;
	background-color: #e8e8e8;
}

/*odd*/
.tabcontbu, .tabcontbu a {
	color: #660099;
	font-weight: bold;
}

.tabcontbu {
	color: #666666;
	font-weight: bold;
}

.tabcontrd, .tabcontrd a, .tabcontrd span {
	color: #EB6307;
	font-weight: bold;
}

.tabcontrd span {
	color: #EB6307;
	font-weight: bold;
}

.tabcontbk, .tabcontrd a {
	color: #0c5790;
	font-weight: bold;
}

.tabcontbk span {
	color: #666666;
	font-weight: bold;
}

.tabcontwh, .tabcontwh a {
	color: #FFFFFF;
	font-weight: bold;
}

.tabcontwh span {
	color: #FFFFFF;
	font-weight: bold;
}

.b11_bl {
	color: #0c5790;
	font-size: 13px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	padding-left: 5px;font-weight: bold;
}

.b11_b2 {
	color: #666666;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

/*AJX*/
.ajxbox {
	border: 2px solid #2e4c82;
	background-image: url(../../images/ajx_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.ajxbox h1 {
	color: #022352;
	background-image: url(../../images/ajx_icon.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bacde1;
	text-indent: 20px;
	display: block;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.Odds_Upd {
	background-image: url(../images/layout/update_odds20090910.gif);
}

.ipColor {
	color: #666666;
	font-size: 10px;
	font-weight:bold;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.text_blue11 {
	color: #2B5919;
	font-size: 11px;
}

.MessageHistory {
	color: #666666;
	font-size:12px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

/*odds mini version*/
/*en*/
.miniver_en a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -2px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_en a:hover {
	background-position: -86px -2px;
}

.miniver_en a span {
	display: none;
}

.maxiver_en a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -21px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.maxiver_en a:hover {
	background-position: -86px -21px;
}

.maxiver_en a span {
	display: none;
}

/*it*/
.miniver_it a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -2px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_it a:hover {
	background-position: -86px -2px;
}

.miniver_it a span {
	display: none;
}

.maxiver_it a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -21px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.maxiver_it a:hover {
	background-position: -86px -21px;
}

.maxiver_it a span {
	display: none;
}

/*jp*/
.miniver_jp a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -2px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_jp a:hover {
	background-position: -86px -2px;
}

.miniver_jp a span {
	display: none;
}

.maxiver_jp a {
	height: 18px;
	width: 80px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -21px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.maxiver_jp a:hover {
	background-position: -86px -21px;
}

.maxiver_jp a span {
	display: none;
}

/*ch*/
.miniver_ch a {
	height: 18px;
	width: 64px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -40px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_ch a:hover {
	background-position: -86px -40px;
}

.miniver_ch a span {
	display: none;
}

.maxiver_ch a {
	height: 18px;
	width: 64px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -59px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.maxiver_ch a:hover {
	background-position: -86px -59px;
}

.maxiver_ch a span {
	display: none;
}

/*cs*/
.miniver_cs a {
	height: 18px;
	width: 64px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -78px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_cs a:hover {
	background-position: -86px -78px;
}

.miniver_cs a span {
	display: none;
}

.maxiver_cs a {
	height: 18px;
	width: 64px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -59px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.maxiver_cs a:hover {
	background-position: -86px -59px;
}

.maxiver_cs a span {
	display: none;
}

/*th*/
.miniver_th a {
	height: 18px;
	width: 64px;
	background-image: url(../../public/images/layout/oddmini.gif);
	float: left;
	background-position: -3px -116px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 6px;
}

.miniver_th a:hover {
	background-position: -86px -116px;
}

.miniver_th a span {
	display: none;
}

.maxiver_th a {
	height: 18px;
	width: 64px;
	float: left;
	background-image: url(../../public/images/layout/oddmini.gif);
	background-position: -3px -135px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	margin-top: 6px;
	margin-left: 6px;
}

.maxiver_th a:hover {
	background-position: -86px -135px;
}

.maxiver_th a span {
	display: none;
}

/*message icon*/
.messagesp {
	color:#666666;
	font-size: 11px;
}

.message {
	color:#666666;
	font-size: 11px;
	padding-top:5px; *padding-top:3px;
}

.message a {
	color: #666666 !important;
	text-decoration: none!important;
	padding-bottom: 4px;
}

.message a:hover {
	color: #EB6307 !important;
}

.message .active {
	color: #EB6307!important;
	background-image: url(../images/layout/msg_arr.gif);
	background-repeat: no-repeat;
	background-position: center 13px;
}

/*Horse*/
.Horse_Head {
	height: 40px;
	width: 776px;
	float: left;
	background-image: url(../images/layout/reslut_bg.gif);
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tvicon {
	height: 15px;
	width: 15px;
	float: left;
	background-image: url(images/layout/tv.gif);
	display: block;
}

.tabbox_F0 {
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
	padding-bottom: 0px;
	border-top-width: 2px;
	border-top-color: #FFFFFF;
	border-bottom-width: 2px;
	border-bottom-color: #FFFFFF;
}

.tabbox_d {
	border-bottom-style: solid!important;
	padding-bottom: 0px!important;
	border-bottom-width: 1px!important;
	border-bottom-color: #b1b1b1!important;
}

.tabbox_L_b {
	padding-bottom: 0px!important;
	border-left-width: 2px!important;
	border-left-style: solid!important;
	border-left-color: #53699b!important;
}

.tabbox_R_b {
	padding-bottom: 0px!important;
	border-right-width: 2px!important;
	border-right-style: solid!important;
	border-right-color: #53699b!important;
}

.tabbox_D_b {
	padding-bottom: 0px!important;
	border-bottom-width: 2px!important;
	border-bottom-style: solid!important;
	border-bottom-color: #53699b!important;
}

.tabbox_F12 {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
	padding: 0px;
}

.tabbox_F11 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	text-align: center;
	padding: 0px;
}

.tabbox_F14 {
	text-align: center;
	padding: 0px;
	border-bottom-width: 1px!important;
	border-bottom-style: solid!important;
	border-bottom-color: #FFFFFF!important;
}

.tabbox_F10 {
	text-align: center;
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.boxLeague {
	font-size: 13px;
	color: #ffffff;
	padding: 2px;
}

.boxLeague td {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b1b1b1;
	background-color: #53699b;
	height: 15px;
}

.boxLeague th {
	background-color: #53699b;
	padding: 2px;
	height: 15px;
	font-weight: normal;
}

.boxEvent {
	text-align: center;
	font-size: 13px;
	padding: 2px;
}

.boxEvent td {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b1b1b1;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1b1b1;
}

.boxEvent th {
	font-size: 13px;
	padding: 2px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1b1b1;
}

.bgcolor {
	font-size:11px;
	background-color: #999999;
}

.textor a {
	font-weight: bold;
	color: #D55500;
}

.textor {
	font-weight: bold;
	color: #D55500;
}

.border-L {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b1b1b1;
}

.RaceTime_tb {
	font-size:13px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}

.RaceTime_tb td {
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b1b1b1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1b1b1;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b1b1b1;
}

.RaceTime_tb th {
	font-weight: bold;
	background-color: #E4E4E4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b1b1b1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1b1b1;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b1b1b1;
}

.none_rline {
	border-right-style: none!important; 
}

.none_dline {
	border-bottom-style: none!important;
}

.NoNewline {
	white-space:nowrap!important;
	border: 1px solid #000033;
}

/*0828*/
.title_border {
	width:788px; 
	background-image:url(../images/layout/odd_titlebg.gif);
	background-position:left top;
	background-reapeat:no-repeat;
	display:block;
	padding:1px 4px 0px 0px ;
}

.tmpl_border {
	width:792px;
    background-color: #EFEFEF;
}

.info a {
	color: #FFFFFF!important;
	height: 12px;
	width: 22px!important;
	padding-right: 5px;
	background-image: url(../images/layout/horse_info2.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	padding-left: 10px!important;
	margin-left: 10px;
	margin-top: 2px;
	background-position: 1px;
}

.info a:hover {
	color: #FFFFFF!important;
	height: 12px;
	width: 22px!important;
	padding-right: 5px;
	background-image: url(../images/layout/horse_info1.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	padding-left: 10px!important;
	margin-left: 10px;
	margin-top: 2px;
	background-position: 1px;
}

/*20091028*/
/*League select*/
.league02 {
	color: #666666;
	font-size: 11px;
	border: 1px solid #cbcbcb;
	margin: 0px;
	background-color: #FFFFFF;
}

.league02 th {
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}

.league03 th {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	background-color: #4a5e90;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
}

.Leaguename a {
	color: #666666;
	width: 97%;
	font-size: 11px;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	display: block;
	padding: 0px;
}

.Leaguename a:hover {
	color: #FFFFFF;
	background-color: #4a5e90;
}

.Leaguename span {
	font-weight: normal;
}

/*date*/
.date_close {
	display: block;
	background-image: url(../images/europe/date_close.gif);
	background-repeat: no-repeat;
	text-indent: 20px;
	background-position: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #4A5E90;
	height: 20px;
	padding-top: 5px;
}

.date_close a {
	color: #9ab9d7!important;
}

.date_close a:hover {
	color: #FFFFFF!important;
	margin-top: 10px;
}

.date_open {
	color: #FFFFFF;
	height: 20px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../images/europe/date_open.gif);
	background-repeat: no-repeat;
	background-color: #4A5E90;
	background-position: 5px;
	text-indent: 20px;
	padding-top: 5px;
}

.date_open a {
	color: #FFFFFF!important;
}

.date_open a:hover {
	color: #FFFFFF!important;
}

/*team name*/
.teamname_bg {
	color: #1d2b4d;
	height: 22px;
	font-size: 12px;
	font-weight:bold;
	font-family: Tahoma, Arial, 新細明體, 細明體;
	display: block;
	background-image: url(../images/europe/teamname_bg.gif);
	background-repeat: repeat-x;
	text-indent: 5px;
	padding-top: 6px;
}

.time {
	color: #818181;
	font-size: 10px;
	font-family: Tahoma, Arial,新細明體, 細明體;
	text-align: center;
}

/*Europe odds*/
.odds_bg {
	background-color: #D2D2D2;
	padding-right: 4px!important;
	padding-left: 4px!important;
	height: 10px;
}

.oddslive_bg {
	background-color: #FADAC3;
	padding-right: 4px!important;
	padding-left: 4px!important;
	height: 10px;
}

.odds_bg td {
	color: #FFFFFF!important;
	background-color: #4a5e90!important;
	font-weight: bold!important;
}

.bb123 {
	display: block!important;
}

.bb123 a:hover {
	color: #FFFFFF!important;
	background-color: #4a5e90!important;
	font-weight: bold!important;
}

.OEteam_name {
	color: #336699!important;
	height: 15px;
	width: 500px;
	font-weight: bolder!important;
	display: block;
	background-color: #ffffff!important;
	text-indent: 0px;
	padding-top: 3px;
	padding-right: 20px;
	margin: 5px;
}

.oddslive {
	color: #B50000!important;
}

.mixparlay_line {
	height: 2px; 
	background-image:url(../images/layout/pop_line_bg.gif);
	background-repeat:repeat-x;
	margin-right: 8px;
	margin-left:8px;
}

.mixparlay_title {
	font-size: 14px;
	color: #666666;
}

.mixp a {
	color: #666666!important;
}

.mixp a:hover {
	color: #0c5790!important;
}

.pop_title {
	color: #FFFFFF;
	height: 17px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../images/layout/title_soccer.gif);
	background-position: 0px 0px;
	text-indent: 10px;
	padding-right: 2px;
	padding-top: 3px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.pop_title1 {
	height: 20px;
	width: 10px;
	float: left;
	background-image: url(../images/layout/title_bg1.gif);
	background-position: -4px 0px;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 0px;
}

.pop_border {
	background-color: #FFFFFF;
	display: block;
	padding: 5px;
}

/*2010_05_27  Time Range*/
.TimeRange{
	background-image: url(../images/layout/TimeRang.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 4px 1px 0px 2px;
	font-size: 11px;
	color: #ffffff;
	padding: 0px 0px 6px 3px;
	_padding-bottom: 4px;
	float:left;
	display: block;height:18px;
    line-height: 18px;
	text-indent: 5px;
}

.TimeRange-y{
	height: 18px;
	cursor:pointer;
	font-size: 10px;
	color: #ffff00;
	cursor:pointer;
	height:11px;
	line-height: 18px;
}
.TimeRange-r{
	background-image: url(../images/layout/TimeRang.gif);
	background-repeat: no-repeat;
	background-position: right 0!important;
	height:18px;
	text-indent: 0px;
}

.TimeRange_More {
	color: #ffffff;
	font-size: 11px;
	background-image: url(../images/layout/time_moreM.gif);
	padding-right: 1px;
	padding-left: 1px;
}

.allTimebg {
	height: 20px;
	background-color: #FFFFFF;
	border-top-width: 3px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #4063bf;
	overflow: visible;
	display: block;
	position: relative;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	margin-top: 2px;
}

.allTimebg a {
	color: #666666!important;
	font-size: 11px;
	font-weight: bold;
	line-height:20px;
	padding-top: 5px;
}

.allTimebg a:hover {
	color: #4063bf !important;
	font-size: 11px;
	font-weight: bold;
	background-image: url(../images/layout/time_arr.gif);
	background-repeat: no-repeat;
	background-position: center -1px;
}

.allTimebg span {
	font-size: 9px;
	padding-left: 10px;
	padding-right: 10px;
}

/*right pop*/
.popUO3 {
	width: 250px;
	background-color: #37b5ff;
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8799C2;
	overflow: hidden;
}

.popUO3 td {
	font-size: 11px;
	padding: 5px;
	text-align: left;
}

.popUO3tab_bg {
	padding: 5px;
	background-color: #37b5ff;
}

.popUO3tab td {
	line-height: 15px;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

.popUO3tab th {
	line-height: 20px;
}

.font15_w {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.font14_r {
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.HomeN {
	color: #cc0000;
	font-size: 11px;
}

.HomeA {
	color: #003399;
	font-size: 11px;
}

/*new pop windows*/
.more-win{   border:5px solid #FFFFFF;}
.more-win, .POPUbox{background-color:#e8e8e8;}
.league-box{
	width:650px; *width:670px; _width:670px;
	text-align:center;
	padding:0px 6px; _padding:0px;
	margin:0px 5px 10px 5px; _margin:0px 0px 10px 0px;
}

.more-box{
	width:98%;
	text-align:center;
	margin-bottom:10px;padding:6px 6px 0px 6px;
}

.pop_line {
	height: 2px;
	background-image:url(../images/layout/pop_line_bg.gif);
	background-repeat:repeat-x;
	display: block;
	padding:0px 6px; _padding:0px;
	margin:0px 7px;
}

.popc-ctrl{
	cursor:pointer;
	padding-right:6px; *padding-right:6px; _padding-right:6px;
}

form{
	margin:0px;
}

.betlist_B{
	color: #666666;
	font-size: 11x;
	font-family: Tahoma, Arial, 新細明體, 細明體;
}


/*Parlay_icon*/
.en_todayicon a, .en_parlayicon a, .en_liveicon a, .en_earlyicon a, .ch_todayicon a, .ch_parlayicon a, .ch_liveicon a, .ch_earlyicon a,
.cs_parlayicon a, .cs_todayicon a, .cs_liveicon a, .cs_earlyicon a, .jp_parlayicon a, .jp_todayicon a, .jp_liveicon a, .jp_earlyicon a,
.ko_parlayicon a, .ko_todayicon a, .ko_liveicon a, .ko_earlyicon a, .th_parlayicon a, .th_todayicon a, .th_liveicon a, .th_earlyicon a,
.hi_parlayicon a, .hi_todayicon a, .hi_liveicon a, .hi_earlyicon a, .id_todayicon a, .id_parlayicon a, .id_liveicon a, .id_earlyicon a,
.vn_todayicon a, .vn_parlayicon a, .vn_liveicon a, .vn_earlyicon a, .ru_todayicon a, .ru_parlayicon a, .ru_liveicon a, .ru_earlyicon a {
	background-image: url(../../public/images/layout/Parlay_icon.gif);
	height: 18px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	float: left;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 0px;
}

.en_todayicon a, .jp_todayicon a, .ko_todayicon a, .th_todayicon a, .hi_todayicon a, .id_todayicon a, .vn_todayicon a, .ru_todayicon a{
	width: 42px;background-position: 0px 0px;}
.en_todayicon a:hover, .jp_todayicon a:hover, .ko_todayicon a:hover, .th_todayicon a:hover,
.hi_todayicon a:hover, .id_todayicon a:hover, .vn_todayicon a:hover, .ru_todayicon a:hover{
	background-position: -100px 0px;display: inline;}

.en_parlayicon a, .jp_parlayicon a, .ko_parlayicon a, .th_parlayicon a, .hi_parlayicon a, .id_parlayicon a, .vn_parlayicon a, .ru_parlayicon a{
	width: 42px;background-position: 0px -20px;}
.en_parlayicon a:hover, .jp_parlayicon a:hover, .ko_parlayicon a:hover, .th_parlayicon a:hover,
.hi_parlayicon a:hover, .id_parlayicon a:hover, .vn_parlayicon a:hover, .ru_parlayicon a:hover{
	background-position: -100px -20px;}

.en_liveicon a, .jp_liveicon a, .ko_liveicon a, .th_liveicon a, .hi_liveicon a, .id_liveicon a, .vn_liveicon a, .ru_liveicon a {
	width: 42px;background-position: 0px -40px;}
.en_liveicon a:hover, .jp_liveicon a:hover, .ko_liveicon a:hover, .th_liveicon a:hover,
.hi_liveicon a:hover, .id_liveicon a:hover, .vn_liveicon a:hover, .ru_liveicon a:hover{
	background-position: -100px -40px;display: inline;}

.en_earlyicon a, .jp_earlyicon a, .ko_earlyicon a, .th_earlyicon a, .hi_earlyicon a, .id_earlyicon a, .vn_earlyicon a, .ru_earlyicon a {
	width: 42px;background-position: 0px -60px;}
.en_earlyicon a:hover, .jp_earlyicon a:hover, .ko_earlyicon a:hover, .th_earlyicon a:hover,
.hi_earlyicon a:hover, .id_earlyicon a:hover, .vn_earlyicon a:hover, .ru_earlyicon a:hover {
	background-position: -100px -60px;display: inline;}

.ch_todayicon a, .cs_todayicon a {width: 59px;background-position: 0px -80px;}
.ch_todayicon a:hover, .cs_todayicon a:hover {background-position: -100px -80px;display: inline;}
.ch_parlayicon a {width: 59px;background-position: 0px -100px;}
.ch_parlayicon a:hover {background-position: -100px -100px;}
.ch_liveicon a, .cs_liveicon a {width: 59px;background-position: 0px -140px;}
.ch_liveicon a:hover, .cs_liveicon a:hover {background-position: -100px -140px;display: inline;}
.ch_earlyicon a {width: 59px;background-position: 0px -160px;}
.ch_earlyicon a:hover {background-position: -100px -160px;display: inline;}

.cs_parlayicon a {width: 59px;background-position: 0px -120px;}
.cs_parlayicon a:hover {background-position: -100px -120px;}
.cs_earlyicon a {width: 59px;background-position: 0px -180px;}
.cs_earlyicon a:hover {background-position: -100px -180px;display: inline;}


/*sorting*/
.en_sorting a, .en_normal a, .ch_sorting a, .ch_normal a, .cs_sorting a, .cs_normal a, .id_sorting a, .id_normal a, .th_sorting a, .th_normal a, .vn_sorting a, 
.vn_normal a, .ko_normal a, .ko_sorting a{
	background-image: url(../../public/images/layout/sorting_icon.gif);
	height: 18px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	float: left;
	margin: 4px 2px 0px 2px;
	margin-right: 0px;
}

.en_sorting a, .ch_sorting a, .cs_sorting a, .id_sorting a, .th_sorting a, .vn_sorting a, .ko_sorting a{	width: 85px;background-position: 0px 0px;}
.en_sorting a:hover, .ch_sorting a:hover, .cs_sorting a:hover, .id_sorting a:hover, .th_sorting a:hover, .vn_sorting a:hover, .ko_sorting a:hover{background-position: -100px 0px;}
.en_normal a, .ch_normal a, .cs_normal a, .id_normal a, .th_normal a, .vn_normal a, .ko_normal a{width: 85px;background-position: 0px -22px;}
.en_normal a:hover, .ch_normal a:hover, .cs_normal a:hover, .id_normal a:hover, .th_normal a:hover, .vn_normal a:hover, .ko_normal a:hover{background-position: -100px -22px;}

.ch_sorting a {	width: 66px;background-position: 0px -44px;}
.ch_sorting a:hover {background-position: -100px -44px;}
.ch_normal a {width: 66px;	background-position: 0px -66px;}
.ch_normal a:hover {background-position: -100px -66px;}

.cs_sorting a {	width: 66px;background-position: 0px -88px;}
.cs_sorting a:hover {background-position: -100px -88px;}
.cs_normal a {width: 66px;background-position: 0px -110px;}
.cs_normal a:hover {background-position: -100px -110px;}



.displayOff{
    display: none;
}
.score_box{
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #cecece!important;
	border-collapse:collapse!important;
	padding: 0px!important;
/*	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b1b1b1;*/
}
.score_box td{
	border-top-style: none!important;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
.score_box .box01 {
	text-align: center;
	display: inline;
    }
    .score_box .box01 .border{
	background-color: #d9c2ba;
	text-align: center;
	padding: 0px;width: 37px;
	border: 1px solid #919390;
}
.score_box .box02 {
	text-align: center;
	display: inline;
	color: #B00000;
    }
    .score_box .box02 .border{
	background-color: #d99d9d;
	text-align: center;
	padding: 0px;width: 37px;
	border: 1px solid #919390;
}

.score_box .box03 {
	text-align: center;
	display: inline;
    }
/*   .score_box .box03 span{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #919390;
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
    }*/
    .score_box .box03 .border{
	background-color: #bfbfbf;
	text-align: center;
	padding: 0px;width: 37px;
	border: 1px solid #919390;
}
.score_box .line_b{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #919390;
}
.score_box .line_r{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #919390;
}

/*20110525*/
.score_box .FavTeamClass, .score_box .UdrDogTeamClass{
	font-size: 11px;
	width: 100px;
	overflow: hidden;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 18px;
}
.score_box .img td{
	width: 15px;
	height: 17px;
	height: 13px\9;
	padding: 2px 0px 0px 0px!important;
}
/*baseball live score*/
.baseball_LS1 .box01 .border, .baseball_LS1 .box02 .border, .baseball_LS1 .box03 .border{height:29px;line-height: 27px;}
.baseball_LS2 .score_box .box01 .border, .baseball_LS2 .score_box .box02 .border, .baseball_LS2 .score_box .box03 .border{width: 24px;}
.baseball_img td{
    width: 13px;
	height: 13px;
	padding:2px !important;
}

/** 2012 0803 virtual sports **/
.streamVirtual{
	width: 514px;
	display: inline-block;
	border: 1px solid #D9D9D9;
	padding-bottom:0px;
	background: #e1e4e8;
}

.virtual {
	width: 100%;
	clear: both;
}
.streamVideo{
	width: 491px;
	height: 384px;
	margin: 0 11px 8px;
}
.virtualTitle {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
}
.streamVirtual .virtualTitle {
    height: 17px;
    padding: 11px 10px;
}
.matchVirtual {
    display: inline-block;
    height: 433px;
    vertical-align: top;
    width: 270px;
}
.marchTitle {
    font-size: 11px;
    height: 14px;
    padding: 4px 10px;
    text-align: left;
}
.virtualMarch td {
    height: 20px;
    line-height: 20px;
    padding: 4px 10px;
}
.virtualMarch td a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 163px;
}
.virtualMarch .IsLive, .virtualMarch .text_time{
	font-weight: bold;
	font-size: 11px;
	padding: 0;
}
.virtualMarch .IsLive{
    color: #EB6307;
}
/*NFL live score*/
.NFL_LS1{background-color: #E6E6E6;text-align: center;padding: 0px;width: 45px;border: 1px solid #919390;}
.NFL_LS1 .box01{background-color: #666666;display: block;color:#FFF}